body{
  background-image: url("images/paper.jpg");
  background-color:tan;
  box-sizing: border-box;
  font-family: Papyrus;
}

h1{
  margin: 0px;
  font-size: 24px;
}

p{
  margin: 0px;
}